@import "../../styles/";

.button {
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: calc($radius-small + 2px);

    & + .button {
        margin-left: 24px;
    }

    &.small {
        padding: 6px 7px;
        font-size: 1.4rem;
    }

    .icon {
        display: inline-block;
        width: 18px;
        font-size: 2rem;
    }
}
