@import "../../styles/";
@import "../../styles//mixins";

.filters-container {
    justify-content: center;
    align-items: center;

    .priority-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .label {
            font-size: 1.6rem;
            font-weight: 800;
            color: $secondary-text-color;
            cursor: pointer;
            padding: 4px 2px;
        }
        input {
            display: none;
        }

        input:checked + .high {
            color: $red-color;
            text-shadow: 0px 0px 2px currentColor;
        }

        input:checked + .medium {
            color: $orange-color;
            text-shadow: 0px 0px 2px currentColor;
        }

        input:checked + .low {
            color: $green-color;
            text-shadow: 0px 0px 2px currentColor;
        }
    }

    .status-btn {
        @include styleStatus;
        width: 100%;
        padding: 10px 34px;
    }
}
